*/*{
    border: 0px solid black;
}*/
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 0 20px;
}

header img {
    height: 80px;
}

header h1 {
    margin: 0;
}
nav {
    height: 50px;
    background: #818181;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}
section{
    height: 500px;
}
.seccion1, .seccion2, .seccion3, .seccion4 {
        position: relative;
        display: flex; 
        justify-content: space-around;
        align-items: center;
}
    
.seccion1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../Imagenes/aprender-html.png");
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Ajusta el valor de opacidad según tus necesidades */
    z-index: -1; /* Coloca la imagen detrás del contenido */
}

.seccion2::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url("../Imagenes/css_imagenes.jfif");
background-size: cover;
background-position: center;
opacity: 0.5; /* Ajusta el valor de opacidad según tus necesidades */
z-index: -1; /* Coloca la imagen detrás del contenido */
}

.seccion3::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url("../Imagenes/imagen_javascript.jpg");
background-size: cover;
background-position: center;
opacity: 0.5; /* Ajusta el valor de opacidad según tus necesidades */
z-index: -1; /* Coloca la imagen detrás del contenido */
}


.seccion4::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-image: url("../Imagenes/tutoriales-php-1024x512.png");
background-size: cover;
background-position: center;
opacity: 0.5; /* Ajusta el valor de opacidad según tus necesidades */
z-index: -1; /* Coloca la imagen detrás del contenido */
}
    
h3{
    font-size: 100px;
    position: relative;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/* Media queries para hacer la web responsive */
@media (max-width: 768px) {
    header h1{
        display: none;
    }
    header{
        justify-content: space-around;
    }
    nav ul {
        justify-content: center;
    }
    h3 { font-size: 45px; }
}

