body {
    font-family: Arial, sans-serif;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f1f1f1;
}

header img {
    height: 100px;
}

.user-menu {
    position: relative;
    display: inline-block;
}

.user-menu ul {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 200px;
    right: 0;
}

.user-menu ul li {
    padding: 10px;
    white-space: nowrap;
}

.user-menu ul li a {
    text-decoration: none;
    color: #000;
    display: block;
}

.user-menu ul li a:hover {
    background-color: #eee;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

aside {
    background-color: #f9f9f9;
    padding: 5px;
    margin-top: 20px;
    width: 30%;
}

.asidemovil {
    display: none;
}

aside li {
    font-size: 20px;
    margin-top: 15px;
}

aside ul {
    list-style: none;
}

aside i {
    margin-right: 20px;
    width: 30px;
}

.contenedorPrincipal {
    width: 70%;
}

main {
    display: flex;
    height: 70vh;
}

/* Media queries */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    header img {
        height: 50px;
    }

    .user-menu ul {
        width: 100%;
        right: auto;
    }

    .user-menu ul li {
        padding: 8px;
    }

    aside {
        display: none;
        border-left: none;
        border-top: 4px solid #007BFF;
        margin-top: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .contenedorPrincipal {
        width: 100%;
    }

    .asidemovil {
        display: block;
    }

    main {
        flex-direction: column;
    }
}

.asidemovil ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.asidemovil ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}

.asidemovil ul li img,
.asidemovil ul li i {
    width: 20px;  /* Ajusta el tamaño según sea necesario */
    height: 20px; /* Ajusta el tamaño según sea necesario */
    object-fit: cover;
}

.asidemovil ul li img {
    margin-right: 10px;
}

