/* Estilos para el header */
header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 0 20px;
}

header img {
    height: 80px;
}

header h1 {
    margin: 0;
}

/* Estilos para la navegación */
nav {
    height: 50px;
    background: #818181;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

/* Estilos para el footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para el contenido principal */
#hola {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 160px); /* Ajusta la altura para incluir header y footer */
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

#hola img {
    width: 150px;
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="date"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #cc00ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
form button:disabled { 
    background-color: #e0e0e0; 
    cursor: not-allowed;
}    

/*form button:hover {
    background-color: #0056b3;
}*/

form p {
    margin-top: 10px;
    text-align: center;
}
#msg{
    font-size:15px;
    color:red;
    display: none;
}
/* Media queries para hacer la web responsive */
@media (max-width: 768px) {
    header h1 {
        display: none;
    }
    header {
        justify-content: center;
    }
    nav ul {
        justify-content: center;
    }
    #hola img {
        width: 100px;
    }
    form {
        padding: 15px;
    }
    form button {
        font-size: 14px;
    }
}
